@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.container {
    background-color: hsl(215, 32%, 27%);
    border-radius: 12px;
    height: 470px;
    width: 290px;
    
}

.card {
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 6px;
    
}

.texto {
    margin: auto;
    margin-top: 22px;
    flex-direction: column;
    background-color: hsl(215, 32%, 27%);
    width: 90%;
    
}

.texto h3 {
    color: hsl(0, 0%, 100%);
    padding-bottom: 10px;
    margin-top: -10px;
    left: 50px;
    text-align: left;
}

.texto p {
    text-align: left;
    color: hsl(215, 51%, 70%);
}

hr {
    width: 90%;
}

.center {
    background-color: hsl(215, 32%, 27%);
    display: flex;
    justify-content: space-between;
    
}

.lado1 {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    
}

.lado1 img {
    margin-right: 6px;
}

.lado2 {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%)
}

.lado2 img {
    margin-right: 6px;
    
   
}

hr {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 11px;
    border: -10px solid;
    color: rgb(255, 252, 252);
}

.avatar {
    display: flex;
    justify-content: center;
    color: hsl(215, 51%, 70%);
    margin-top: 11px;
}

.img1 img {
    border: 1px solid white;
    border-radius: 50px;
    width: 30px;
    margin-left: -47px;
}

.texto2 {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -3px;
}

span {
    color: white;
}
